In [ ]:
from movies.models import Movie

qs = Movie.objects.all().values("title", 'release_date',"rating_avg", "rating_count")
qs

In [1]:
from movies.models import Movie

In [3]:
qs = Movie.objects.all().values("title", 'release_date',"rating_avg", "rating_count")
qs

<MovieQuerySet [{'title': 'Ariel', 'release_date': datetime.datetime(1988, 10, 21, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'Shadows in Paradise', 'release_date': datetime.datetime(1986, 10, 16, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'Four Rooms', 'release_date': datetime.datetime(1995, 12, 9, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': Decimal('5.00'), 'rating_count': 1}, {'title': 'Judgment Night', 'release_date': datetime.datetime(1993, 10, 15, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'Star Wars', 'release_date': datetime.datetime(1977, 5, 25, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': Decimal('5.00'), 'rating_count': 1}, {'title': 'Finding Nemo', 'release_date': datetime.datetime(2003, 5, 30, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'Forrest Gump', 'release_date': datetime.datetime(1994, 7, 6, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'American Beauty', 'release_date': datetime.datetime(1999, 9, 15, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'Citizen Kane', 'release_date': datetime.datetime(1941, 4, 30, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': Decimal('5.00'), 'rating_count': 1}, {'title': 'Dancer in the Dark', 'release_date': datetime.datetime(2000, 5, 17, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'The Dark', 'release_date': datetime.datetime(2006, 1, 26, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'The Fifth Element', 'release_date': datetime.datetime(1997, 5, 7, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'Metropolis', 'release_date': datetime.datetime(1927, 1, 10, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'My Life Without Me', 'release_date': datetime.datetime(2003, 3, 7, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'The Endless Summer', 'release_date': datetime.datetime(1966, 6, 15, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'Pirates of the Caribbean: The Curse of the Black Pearl', 'release_date': datetime.datetime(2003, 7, 9, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': Decimal('2.00'), 'rating_count': 1}, {'title': 'Kill Bill: Vol. 1', 'release_date': datetime.datetime(2003, 10, 10, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'Jarhead', 'release_date': datetime.datetime(2005, 11, 4, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': 'Walk on Water', 'release_date': datetime.datetime(2004, 2, 5, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, {'title': '9 Songs', 'release_date': datetime.datetime(2004, 7, 16, 0, 0, tzinfo=datetime.timezone.utc), 'rating_avg': None, 'rating_count': 0}, '...(remaining elements truncated)...']>

In [1]:
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

NameError: name 'os' is not defined

In [2]:
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [4]:
import pandas as pd
df = pd.DataFrame(qs)
df.head(n=10)

                 title              release_date rating_avg  rating_count
0                Ariel 1988-10-21 00:00:00+00:00       None             0
1  Shadows in Paradise 1986-10-16 00:00:00+00:00       None             0
2           Four Rooms 1995-12-09 00:00:00+00:00       5.00             1
3       Judgment Night 1993-10-15 00:00:00+00:00       None             0
4            Star Wars 1977-05-25 00:00:00+00:00       5.00             1
5         Finding Nemo 2003-05-30 00:00:00+00:00       None             0
6         Forrest Gump 1994-07-06 00:00:00+00:00       None             0
7      American Beauty 1999-09-15 00:00:00+00:00       None             0
8         Citizen Kane 1941-04-30 00:00:00+00:00       5.00             1
9   Dancer in the Dark 2000-05-17 00:00:00+00:00       None             0